:root {
  $grid: 8px;
  $list-pad: 2%;
  --color: #f6f6f6;
  --back: #181818;
  --add-to-back: lightgrey;
  --list-back: var(--back);
  --list-back-drag: lightblue;
  --item-back: #333;
  --item-back-drag: lightgreen;
}

body {
  margin: 0;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  background: var(--back);
  color: var(--color);
}

.container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  background: var(--back);

  > .add-to {
    background: var(--add-to-back);
    padding: calc($grid * 2);
  }

  > .list {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: $grid $list-pad;
    background: var(--list-back);
    overflow-y: scroll;

    &.dragging-over {
      background: var(--list-back-drag);
    }

    > .item {
      user-select: none;
      padding: calc($grid * 2);
      border-bottom: 1px solid var(--back);
      /* margin: 0 0 calc($grid) 0;*/
      background: var(--item-back);

      &.dragging {
        background: var(--item-back-drag);
      }
    }
  }
}
