@import url("https://fonts.cdnfonts.com/css/dot-matrix");

:root {
  --color: #f6f6f6;
  --up-color: #0c0;
  --down-color: #e15163;
  --back: #181818;
  --add-to-back: lightgrey;
  --add-to-input: #a39193;
  --add-to-input-acc-1: #ddc5c7;
  --add-to-input-acc-1-active: #aa6f73;
  --add-to-input-focus: #66545e;
  --add-to-input-color: #2b2a39;
  --list-back: var(--back);
  --list-back-drag: lightblue;
  --item-back: #333;
  --item-back-alt: #474747;
  --item-back-drag: lightgreen;
}

body {
  margin: 0;
  font-family: "Dot Matrix", source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  background: var(--back);
  color: var(--color);
}

.container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  background: var(--back);
}

.container > .add-to {
    background: var(--back);
    padding: calc(8px * 2);
    display: flex;
    justify-content: center;
  }

.container > .add-to > .input-group {
      display: flex;
      align-items: center;
    }

.container > .add-to > .input-group > .input-field {
        min-height: 48px;
        max-width: 150px;
        padding: 0 1rem;
        color: #fff;
        font-size: 15px;
        border: 1px solid var(--add-to-input);
        border-radius: 6px 0 0 6px;
        background-color: transparent;
      }

.container > .add-to > .input-group > .input-field:focus,
        .container > .add-to > .input-group > .input-field:focus-visible {
          border-color: var(--add-to-input-focus);
          outline: none;
        }

.container > .add-to > .input-group > button {
        min-height: 50px;
        padding: 0.5em 1em;
        border: none;
        background-color: var(--add-to-input);
        color: var(--add-to-input-color);
        font-size: 15px;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out;
      }

.container > .add-to > .input-group > button:hover {
          background-color: var(--add-to-input);
        }

.container > .add-to > .input-group > button.active {
          background: var(--add-to-input-acc-1-active);
        }

.container > .add-to > .input-group > button:nth-child(3) {
          background: var(--add-to-input-acc-1);
        }

.container > .add-to > .input-group > button:last-child {
          border-radius: 0 6px 6px 0;
        }

.container > .list {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 8px 2%;
    background: var(--list-back);
    overflow-y: scroll;
  }

.container > .list.dragging-over {
      background: var(--list-back-drag);
    }

.container > .list > .item {
      -webkit-user-select: none;
              user-select: none;
      border-bottom: 0.5px solid var(--back);
      /* margin: 0 0 calc($grid) 0;*/
      background: var(--item-back);
      opacity: 80%;
      display: flex;
      flex-direction: row;
    }

.container > .list > .item:nth-child(odd) {
        background: var(--item-back-alt);
      }

.container > .list > .item.dragging {
        background: var(--item-back-drag);
      }

.container > .list > .item > div {
        padding: calc(8px * 1);
        border-right: 0.5px solid var(--back);
      }

.container > .list > .item > .name {
        flex-basis: 95%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

.container > .list > .item.adhd > .name {
        flex-basis: 85%;
      }

.container > .list > .item > .amount {
        flex-basis: 10%;
        text-align: right;
        color: var(--up-color);
      }

.container > .list > .item > .remove {
        flex-basis: 5%;
        text-align: center;
      }

@media (max-width: 820px) and (min-width: 480px) {
    .container > .list {
      padding: 8px calc(2% * 2);
    }
        .container > .list > .item > div {
          padding: calc(8px * 2);
        }
  }

@media (orientation: landscape) and (max-width: 1180px) {
    .container > .list {
      padding: 8px calc(2% * 2);
    }
        .container > .list > .item > div {
          padding: calc(8px * 2);
        }
  }
